html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: sans-serif, 'Maison-Light';
	color: #FFFFFF;
	background: #191919;
	font-size: 24px;
	line-height: 1.3;

  &.home {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

img {
	max-width:100%;
	display: block;
	height: auto;
}

a {
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	text-decoration:none;
}

a:hover {

}

a:focus {
	outline:0;
}

a:hover,
a:active {
	outline:0;
}

input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

header {
	position: relative;
	z-index: 90;

  a {
  	border-bottom: none;
  }

  .top-left {
  	position: fixed;
  	top: 0px;
  	left: 0px;
  	z-index: 100
  }

  .top-right {
  	position: fixed;
  	top: 0px;
  	right: 0px;
  }

  .bottom-left {
  	position: fixed;
  	bottom: 0px;
  	left: 0px;
  }

  .bottom-right {
  	position: fixed;
  	bottom: 0px;
  	right: 0px;
  }
}

main{
	opacity: 0;
	transform: translateY(20px);
	transition: 660ms opacity ease, 660ms transform ease;

  &.show{
  	opacity: 1;
  	transform: none;
  }
}

.intro {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	opacity: 1;
	transition: opacity 660ms ease;

  &.hide {
  	opacity: 0;
  	pointer-events: none;
  }

  .top-left {
  	z-index: 100;
  	position: relative;
  }

  .board {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	height: 110%;
  	width: 110%;
  	z-index: 10;
  	background-image: url('../../img/F.svg');
  	background-size: cover;
  	background-position: center;
  	opacity: 1;
  	transition: opacity 440ms ease;
  	transform: translateX(-50%) translateY(-50%);
  }
}

.splash {
  .top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
}

.loop-post {
  img {
  	margin-bottom: 30px;
  }

  a {
  	border-bottom: none;
  }
}

p, .page-wrap{
	margin: 60px;
}

.page-content{
	margin-left: 33.333%;
	margin-right: 16.666%;
	max-width: 800px;

  img{
  	width: 100%;
  }
  p{
  	margin-left: 0px;
  	margin-right: 0px;
  }
}

.page-wrap{
	position: relative;
	z-index: 10;
	pointer-events: none;

  a {
  	position: relative;
  	pointer-events: auto;
  	cursor: pointer;
  }
}

.capabilities{
	display: flex;
	flex-wrap: wrap;
	font-size: 18px;

  .title{
  	border-bottom: 1px solid white;
  }

  div{
  	width: 33.333%;
  	margin-bottom: 60px;
  }
}
.studio .page-wrap{
	margin-bottom: 0px;
}

.slides {
	width: 100%;
	position: relative;
	z-index: 0;
}

.slide {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 0;

  &.current{
  	opacity: 1;
  }

  &.top{
  	z-index: 9;
  }
}

.slides {
  .frame{
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	height: 100%;
  	width: 100%;
  }

  figure {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	height: 100%;
  	width: 100%;

    &.padded{
    	padding: 120px;
    }

    img, video{
    	height: 100%;
    	width: 100%;
    	display: block;
    	object-fit: cover;
    }
  }
}

.slides-navigation{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;
	display: flex;
	z-index: 10;

  div{
  	width: 50%;
  	height: 100%;
  }

  div.navigate-left{
  	cursor: crosshair;
  	cursor: url('../../img/left.png'), auto;
  }

  div.navigate-right{
  	cursor: copy;
  	cursor: url('../../img/right.png'), auto;
  }
}

.crosser{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	cursor: crosshair;
	cursor: url('../../img/cross.png'), auto;
}

#mycursor {
  cursor: none;
 	position: fixed;
	transform: translateX(-50%) translateY(-50%);
 	display: none;
 	top: 0;
 	left: 0;
 	z-index: 10000;
	pointer-events: none;

  .left {
  	display: none;
  }

  .right {
  	display: none;
  }

  .cross {
  	display: none;
  }
}

@font-face {
	font-family:'Maison-Light';
	src:url('fonts/MaisonNeue-Light/MaisonNeue-Light.otf');
	font-weight:normal;
	font-style:normal;
}

@media only screen and (max-width:768px) {
	body {
		font-size: 22px;
	}
	p, .page-wrap{
		margin: 30px;
	}
	.page-content{
		margin: 120px 0px;
	}
	.top-bar{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 120px;
		background: #191919;
		z-index: 89;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191919+0,191919+100&1+0,0+100 */
		background: -moz-linear-gradient(top, rgba(25,25,25,1) 0%, rgba(25,25,25,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(25,25,25,1) 0%,rgba(25,25,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(25,25,25,1) 0%,rgba(25,25,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#00191919',GradientType=0 ); /* IE6-9 */
	}
	.bottom-bar{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 120px;
		background: #191919;
		z-index: 89;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191919+0,191919+100&0+25,1+53 */
		background: -moz-linear-gradient(top, rgba(25,25,25,0) 0%, rgba(25,25,25,0) 25%, rgba(25,25,25,1) 53%, rgba(25,25,25,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(25,25,25,0) 0%,rgba(25,25,25,0) 25%,rgba(25,25,25,1) 53%,rgba(25,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(25,25,25,0) 0%,rgba(25,25,25,0) 25%,rgba(25,25,25,1) 53%,rgba(25,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00191919', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
	}

	.crosser{
		display: none;
	}

	.slides-navigation div{
		width: 100%;
	}
	.slides-navigation div.navigate-left{
		display: none;
	}
	.slides-navigation div.navigate-right{
		cursor: pointer;
	}

	.slides figure.padded{
		padding: 80px;
	}
	.capabilities div{
		width: 50%;
	}
}

@media only screen and (max-width:568px) {
	body {
		font-size: 18px;
	}
	p, .page-wrap{
		margin: 30px;
	}
	.page-content{
		margin: 120px 0px;
	}
	.top-bar{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 120px;
		background: #191919;
		z-index: 89;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191919+0,191919+100&1+47,0+75 */
		background: -moz-linear-gradient(top, rgba(25,25,25,1) 0%, rgba(25,25,25,1) 47%, rgba(25,25,25,0) 75%, rgba(25,25,25,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(25,25,25,1) 0%,rgba(25,25,25,1) 47%,rgba(25,25,25,0) 75%,rgba(25,25,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(25,25,25,1) 0%,rgba(25,25,25,1) 47%,rgba(25,25,25,0) 75%,rgba(25,25,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#00191919',GradientType=0 ); /* IE6-9 */
	}
	.bottom-bar{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 120px;
		background: #191919;
		z-index: 89;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191919+0,191919+100&0+25,1+53 */
		background: -moz-linear-gradient(top, rgba(25,25,25,0) 0%, rgba(25,25,25,0) 25%, rgba(25,25,25,1) 53%, rgba(25,25,25,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(25,25,25,0) 0%,rgba(25,25,25,0) 25%,rgba(25,25,25,1) 53%,rgba(25,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(25,25,25,0) 0%,rgba(25,25,25,0) 25%,rgba(25,25,25,1) 53%,rgba(25,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00191919', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
	}
	.slides figure.padded{
		padding: 60px;
	}
	.loop-post img{
		margin-bottom: 15px;
	}
	.capabilities div{
		margin-bottom: 30px;
	}
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:transparent;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:transparent;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:transparent;
	color:#FFF;
	text-shadow:none;
}
